<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.hengwang.mywanzi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">
                </action>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".layout.SecondActivity">
        </activity>
        <activity android:name=".layout.TestLayoutActivity">
        </activity>
        <activity android:name=".layout.ChangeBackgroundActivity">
        </activity>
        <activity android:name=".wish.WishActivity">
        </activity>
        <activity android:name=".tip.TipActivity">
        </activity>
        <activity android:name=".layout.GridViewActivity"/>
        <activity android:name=".wish.WhatDrawActivity">
        </activity>
        <activity android:name=".wish.ILoveActivity"/>
        <activity android:name=".layout.ViewPagerAssignmentActivity">
        </activity>
        <activity android:name=".transferresult.TransferAssignmentActivity">
        </activity>
        <activity android:name=".layout.ListViewActivity">
        </activity>
        <activity android:name=".layout.ViewPagerActivity">
        </activity>
        <activity android:name=".transferresult.QuestionActivity">
        </activity>
        <activity android:name=".transferresult.AnswerActivity">
        </activity>
        <activity android:name=".transferresult.OpenContractAssignmentActivity">
        </activity>
        <activity android:name=".transferresult.ContactActivity">
        </activity>
        <activity android:name=".sharepref.LocalSaveActivity">
        </activity>
        <activity android:name=".sharepref.SharedPreferencesActivity">
        </activity>
        <activity android:name=".sql.SqlAssignmentActivity"/>
        <activity android:name=".activitylife.LogAndLifeAssignmentActivity"/>
        <activity android:name=".activitylife.ActivityLife1Activity">
        </activity>
        <activity android:name=".activitylife.ActivityLife2Activity">
        </activity>
        <activity android:name=".sql.SqlActivity">
        </activity>
        <activity android:name=".fragment.FragmentArrangeActivity"/>
    </application>

</manifest>